.App {
  text-align: left;
}
.navbar{
  padding-left:2vw;
  padding-right:2vw;
  font-size: medium;
  width: 90%;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
}
.navbar p{
  padding: 1vw;
  width: 100%;
  color:#005c8d;
}
.navbar button{
  margin-top: -2.5vw;
  padding:1vw;
  border-radius: 20px;
  width: 80%;
  border:none;
  background-color:#0096AB;
  color: white;
  font-size: smaller;
}
#content{
  padding-left: 3vw;
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.navbar img{
  margin-top: -3vw;
}
h1{
  color: #0095A9;
}
.h1{
  color:#41575d;
  font-weight: 400;
}
#content p{
  color: #0095A9;
}
#content button{
  padding:1vw;
  border-radius: 20px;
  width: 50%;
  border:none;
  background-color:#0096AB;
  color: white;
  font-size: smaller;
}
#content img{
  width:100%;
  height: 100%;
}
#left{
  padding-top:10vw;
}